<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    @* <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/> *@
    @* <link rel="stylesheet" href="Tessa.styles.css"/> *@
    @* <link rel="stylesheet" href="app.css"/> *@
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link rel="stylesheet" href="css/styles.css" asp-append-version="true" />
    <script>
        window.initializeFlowbite = () => {
            initFlowbite();
        }
    </script>
    <script>
        function DownloadFile(ip,path) {
            path = "http://"+ip+":5555/download/"+path;
            const link = document.createElement('a');
            link.setAttribute("href", path);
            //link.setAttribute("download", "take.txt");
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link)
        }
    </script>
    <HeadOutlet/>
</head>
<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>
</html>